<div id="map" class="map"></div>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<div *ngIf="infoWindow==true" id=entryInfo class=entryInfo>
  <div class="exodia" style="color:lightgray">
    <button id="closeInfo" (click)="onCloseInfo()">Κλείσε</button>
  </div>
  <br>
  
  <ul [(ngModel)]="entryInfo" ngDefaultControl>
    <h2>Πληροφορίες</h2>
    <h3>{{entryInfoShopName}}</h3>
    <h3>Διεύθυνση: {{entryInfoShopAddress}}</h3>
    <h4>{{entryInfoShopTags}}</h4>
    <br>
    <div *ngFor="let info of entryInfoProducts">
      <div class="image">
        <h2 style="margin-left:20px">Αυτοκίνητα</h2>
        <img src="https://avisassets.abgemea.com/.imaging/gridView_vehicleSearch_large/dms/avis/fleet/Citroen/C1/citroen_14c1feelmc5_2b_sideview.png" 
        alt="W3Schools.com" style="width:400px;height:150px;">
      </div>
      <h4>Μοντέλο:</h4> {{info.Name}}
      <h4>Τιμή:</h4> {{info.Price}}
      <h4>Κατηγορία: </h4> {{info.Category}}
      <h4>Ημερομηνία:</h4> {{info.Date}}
      <h4>{{info.Tags}}</h4>
      <h4>Πληροφορίες: </h4> {{info.Description}}
      <br>
      ____________________________
      <br>
    </div>
  </ul>
  <h2>Αξιολογήσεις και σχόλια</h2>
  <button (click)="onEntryInfoUploadCar=!onEntryInfoUploadCar">Προσθήκη αυτοκινήτου</button>
  <div class="EntryInfoUploadCar" *ngIf="onEntryInfoUploadCar">
    <input [(ngModel)]="entryInfoWindowCarPrice" placeholder="Τιμή ενοικίασης: πχ. '79.1'" type="text" required/>
    <br>
    <br>
    <input [(ngModel)]="entryInfoWindowCarName" placeholder="Μάρκα και μοντέλο: πχ. Ford Focus" type="text" required/>
    <br>
    <br>
    <input [(ngModel)]="entryInfoWindowCarDescription"  placeholder="Σύντομη περιγραφή(προαιρετικό)" type="text" />
    <br>
    <br>
    <input [(ngModel)]="entryInfoWindowCarCategory" placeholder="Κατηγορία: πχ. Μικρό" list="Categories" name="Categories" required/>
    <datalist id="Categories">
      <option value="Μικρό"></option>
      <option value="Μεσαίο"></option>
      <option value="Estate"></option>
      <option value="Επιβατικό"></option>
      <option value="Μεγάλο"></option>
      <option value="Premium"></option>
    </datalist>
    <br><br>
    <button (click)="entryInfoWindowCarTagList=!entryInfoWindowCarTagList" >Επιπλέον...</button>
    <div *ngIf="entryInfoWindowCarTagList==true" class="tagList">
      <ul>
        <input type="checkbox" [(ngModel)]="checkbox11"> GPS-navigation
        <br>
        <input type="checkbox" [(ngModel)]="checkbox12"> Bluetooth connectivity
        <br>
        <input type="checkbox" [(ngModel)]="checkbox13"> USB for phones/sticks
        <br>
        <input type="checkbox" [(ngModel)]="checkbox14"> Χιονολάστιχα
        <br>
        <input type="checkbox" [(ngModel)]="checkbox15"> Diesel
        <br>
        <input type="checkbox" [(ngModel)]="checkbox16"> Παραλαβή+Παράδοση γεμάτο ρεζερβουάρ
        <br>
        <input type="checkbox" [(ngModel)]="checkbox17"> 4x4
        <br>
        <input type="checkbox" [(ngModel)]="checkbox18"> Auto
      </ul>
    </div>
    <button (click)="onSaveCar()">Αποθήκευση</button>
  </div>
</div>

<div class="header" *ngIf="infoWindow==false">
  <button (click)="AboutWindow=!AboutWindow" style="float:right; font-size: 20px" > i </button>
  <div *ngIf="AboutWindow" style="background:rgba(255, 180, 20, 0.596); margin-top:200px"> 
    <h2> Σχετικά με εμάς!</h2>
    Αυτή η εφαρμογή έχει εκπαιδευτικό σκοπό και αφορά ένα online παρατηρητήριο τιμών
    για ενοικιαζόμενα αυτοκίνητα. Τα εργαλεία που χρηιμοποιήσαμε είναι δωρεάν και ελεύθερα και είναι 
    τα εξής : AngularJs για το frontend και Django για το backend, ενώ
    επίσης χρησιμοποιήθηκαν κατά την ανάπτυξη εργαλεία όπως το Postman,VScode, ExpressJS κτλ.  
    Οι γλώσσες για την ανάπτυξη της εφαρμογής είναι TypeScript,Python,Html-CSS.
    Θέλουμε να ευχαριστησουμε τον Γιαννη Νικολοπουλο για την 
    εξαιρετικη του προσφορα στην ομαδα μας . 
    ΝΑ ΣΑΙ ΚΑΛΑ ΕΚΕΙ ΠΟΥ ΕΙΣΑΙ\

    <h2> Στοιχεία επικοινωνίας </h2>
    Αν είστε εταιρία-πάροχος ενοικιαζόμενων αυτοκινήτων στην Ελλάδα και θέλετε 
    να επεκτείνετε την επιχείρηση σας ,
    Παρακαλούμε επικοινωνήστε μαζί μας στο τηλέφωνο 697312325α ή στο email
    oiGlykoulhdes@gmail.com
  </div>

  <div class="search" >
    <input [(ngModel)]="form_filter_name" placeholder="Όνομα: πχ. Ford Focus" list="Names" name="Names" />
    <datalist id="Names">
      <option value="Ford fiesta">
      <option value="Citroen C1">
      <option value="Opel Corsa">
      <option value="Renault Captur">
      <option value="Opel astra">
      <option value="Mercedes-Benz A-Class"></option>
      <option value="Nissan Qashqai"></option>
      <option value="Volkswagen Touran"></option>
      <option value="Volkswagen Caravelle"></option>
      <option value="Opel Insignia"></option>
      <option value="Volkswagen Passat"></option>
      <option value="Audi A6"></option>
    </datalist>
    <input [(ngModel)]="form_filter_category" placeholder="Κατηγορία: πχ. Μικρό" list="Categories" name="Categories" />
    <datalist id="Categories">
      <option value="Μικρό"></option>
      <option value="Μεσαίο"></option>
      <option value="Estate"></option>
      <option value="Επιβατικό"></option>
      <option value="Μεγάλο"></option>
      <option value="Premium"></option>
    </datalist>
    <!-- <input [(ngModel)]="form_filter_tags" placeholder="Επιπλέον" list="Tags" name="Tags" /> -->
    <button (click)="this.tagListWindow = !this.tagListWindow; searchButton=!searchButton">Επιπλέον...</button>      
    <br>
    <div *ngIf="tagListWindow==true" class="tagList">
      <ul>
        <input type="checkbox" [(ngModel)]="checkbox21"> GPS-navigation
        <br>
        <input type="checkbox" [(ngModel)]="checkbox22"> Bluetooth connectivity
        <br>
        <input type="checkbox" [(ngModel)]="checkbox23"> USB for phones/sticks
        <br>
        <input type="checkbox" [(ngModel)]="checkbox24"> Χιονολάστιχα
        <br>
        <input type="checkbox" [(ngModel)]="checkbox25"> Diesel
        <br>
        <input type="checkbox" [(ngModel)]="checkbox26"> Παραλαβή+Παράδοση γεμάτο ρεζερβουάρ
        <br>
        <input type="checkbox" [(ngModel)]="checkbox27"> 4x4
        <br>
        <input type="checkbox" [(ngModel)]="checkbox28"> Auto
      </ul>
    </div>
  </div>
  <button class="searchButton" *ngIf="searchButton==true"(click)="getMyPois()">Αναζήτηση σε αυτή την περιοχή</button>
  <div class="getlocation">
    <button (click)="ongetlocation()">Που είμαι;</button>
  </div>
  <div class="offers">
      <button (click)="onOffersButton()">Προσφορές</button>
  </div>
  <div id="onOffersButton"></div>
  <div class="profile" *ngIf="loggedIn==true">
    <button (click)="onProfile()">Προφίλ<!-- {{user.name}} --></button>
  </div>
  <div class="profile" *ngIf="loggedIn==false">
    <button (click)="loginWindow=!loginWindow">Έχετε λογαριασμό? Δημιουργήστε εδώ</button>
  </div>
  <div id="profileWindow" class="profileWindow" *ngIf="profileWindow==true">
    πεδίο 1
    <br>
    πεδίο 42
    <br>
    <button (click)="secondWindow=!secondWindow">Αποσυνδέσου</button>
    <div id="secondWindow" class="secondWindow" *ngIf="secondWindow" >
      Είστε σίγουροι?
      <br>
      <button (click)="onLogout()"> Ναι  </button>
          ή
      <button (click)="secondWindow=!secondWindow">Όχι</button>  
    </div>
  </div>
  <div id="loginWindow" class="profileWindow" *ngIf="loginWindow==true">
    <input [(ngModel)]="username" type="text" placeholder="Όνομα: πχ. Takis97">
    <br>
    <input [(ngModel)]="password" type="password" placeholder="Κωδικός: πχ. 42islife">
    <br>
    <button (click)="onLogInButton()">Συνδέσου</button>
    ή
    <button (click)="onSignUpButton()">Κάνε εγγραφή</button>
    <p id="signupErrorMes" style="color:red"></p>
    <p id="signupSuccessMes" style="color:green"></p>
  </div>
</div>

<div *ngIf="uploadWindow" id="uploadEntry" class="uploadEntry" >
  <button (click)="onCloseUploadWindow()">Ακύρωση</button>
  <br>
  <h3 style="text-decoration:underline">Νέα καταχώρηση</h3>
  Ημερομηνία ενοικίασης <input [(ngModel)]="uploadWindowDateFrom" type="date" autofocus required/>
  <br>
  <br>
  Ημερομηνία επιστροφής <input [(ngModel)]="uploadWindowDateTo" type="date" required/>
  <br>
  <br>
  <input [(ngModel)]="uploadWindowPrice" placeholder="Τιμή ενοικίασης: πχ. '79.1'" type="text" required/>
  <br>
  <br>
  <input [(ngModel)]="uploadWindowCarName" placeholder="Μάρκα και μοντέλο: πχ. Ford Focus" type="text" required/>
  <br>
  <br>
  <input [(ngModel)]="uploadWindowCarDescription"  placeholder="Σύντομη περιγραφή(προαιρετικό)" type="text" />
  <br>
  <br>
  <input [(ngModel)]="uploadWindowCarCategory" placeholder="Κατηγορία: πχ. Μικρό" list="Categories" name="Categories" required/>
  <datalist id="Categories">
    <option value="Μικρό"></option>
    <option value="Μεσαίο"></option>
    <option value="Estate"></option>
    <option value="Επιβατικό"></option>
    <option value="Μεγάλο"></option>
    <option value="Premium"></option>
  </datalist>
  <br><br>
  <button (click)="uploadWindowCarTagList=!uploadWindowCarTagList" >Επιπλέον...</button>
  <div *ngIf="uploadWindowCarTagList==true" class="tagList">
    <ul>
      <input type="checkbox" [(ngModel)]="checkbox1"> GPS-navigation
      <br>
      <input type="checkbox" [(ngModel)]="checkbox2"> Bluetooth connectivity
      <br>
      <input type="checkbox" [(ngModel)]="checkbox3"> USB for phones/sticks
      <br>
      <input type="checkbox" [(ngModel)]="checkbox4"> Χιονολάστιχα
      <br>
      <input type="checkbox" [(ngModel)]="checkbox5"> Diesel
      <br>
      <input type="checkbox" [(ngModel)]="checkbox6"> Παραλαβή+Παράδοση γεμάτο ρεζερβουάρ
      <br>
      <input type="checkbox" [(ngModel)]="checkbox7"> 4x4
      <br>
      <input type="checkbox" [(ngModel)]="checkbox8"> Auto
    </ul>
  </div>
  <br><br>
  <input [(ngModel)]="uploadWindowShopName" placeholder="Όνομα καταστήματος: πχ. Avis" type="text" required/>
  <br><br>
  <input [(ngModel)]="uploadWindowShopAddress"  placeholder="Διεύθυνση(προαιρετικό)" type="text" required/>
  <br> <br>
  <button (click)="onSave()">Αποθήκευση</button>
  <h2 *ngIf= "errorWindow" style="font-size:15px;color:red">Παρακαλούμε συμπληρώστε όλα τα πεδία</h2>
</div>
<div *ngIf = "errorMessageWindow" style="background:darkred">
  ERROR, ΠΑΡΑΚΑΛΩ ΑΝΑΝΕΩΣΤΕ ΤΗ ΣΕΛΙΔΑ ΚΑΙ ΠΡΟΣΠΑΘΗΣΤΕ ΞΑΝΑ
</div>
<div class="uploadButton">
  <button *ngIf="!uploadWindow  && loggedIn"(click)="onOpenUploadWindow()" >Νέα προσθήκη εδώ !</button>
</div>

<div class="pointer"></div>

<div class="display-form"  [ngStyle]="{left:form_left + 'px',top:form_top+'px'}" >{{display_name}} {{display_rating}} {{display_count}}</div>