.header{
    position: absolute;
    top:10px;
    height:100px;
    width:99%;
}
.header .offers{
    position: absolute;
    top:10px;
    left:40px;
    width: max-content;
    background:white;
}
.header .profile{
    position: absolute;
    top:0px;
    right:60px;
}
.header .profileWindow {
    position: absolute;
    top:35px;
    right:40px;
    background:white;
}
.header .getlocation{
    position:absolute;
    width: max-content;
    top:130px;
    left:40px;
    background: white;
}
.header .searchButton{
    position:absolute;
    width: max-content;
    top:100px;
    left:300px;
    background: #4285F4;
    border-color: #4285F4;
}

.header .search{
    position: absolute;
    top:50px;
    left: 40px;
    width:max-content;
    background: white;
}
.header .search .tagList{
    position: absolute;
    right:5%;
    background:white;
}

.map{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background: #ccc;
}


.entryInfo{
    position: absolute;
    top:0px;
    left:0px;
    bottom:0px;
    width: 400px;
    height: max-content;
    overflow-y: auto;
    background: white;
}
/* .entryInfo .EntryInfoUploadCar{
    position: absolute;
    height: max-content;
    background:white;
} */
.entryInfo .exodia {
    position: absolute;
    right:0px;
}
/* .entryInfo .exodia button{
    position: absolute;
    float: right;
} */

.uploadButton{
    position: absolute;
    bottom:50px;
    right:40%;
    left:40%;
    width:max-content;
    background: white;
}

.uploadEntry{
    position:absolute;
    height:max-content;
    background: white;
    background-size: cover;
    padding:20px;
    bottom:10%;
    right:30%;
    left:40px;
    max-width: 300px;
    border-radius:6px;
}

.pointer{
    position:absolute;
    left:50%;
    top:50%;
    width:8px;
    height:8px;
    border-radius:50%;
    background: red;
}

.display-form{
    position:absolute;
    left:10px;
    top:10px;
    /* border-radius:50%; */
    padding:5px;
    background: white;
    z-index: 3;
}